form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


ul {
    display: flex;
    flex-flow: column;
    justify-content: left;
    list-style-type: none;
}